<section class="section about" id="about">
    <div class="title">
        <h1>About me</h1>
    </div>

    <div class="about-center container">
        <div class="left" data-aos="fade-down-right" data-aos-duration="2000">
            <img src="~/img/IMG-20210526-WA0036.jpg" alt="" />
        </div>

        <div class="right" data-aos="fade-up-left" data-aos-duration="2000">
            <h1>I'm mostafa metwaliy I'm  <span id="type2">full stack developer</span></h1>

            <p>
                we are full stack developer , we can help you to create website and website do very will ,
                Bear a large number of users
            </p>

        </div>
    </div>
</section>