@model List<Film>

    <div class="container aos-init aos-animate" data-aos="fade-up" style="width:100%; padding:1rem;">

        <div class="section-title" style="padding:10rem;">

            @foreach (var item in Model)
            {
                <div class="container">
                    <div class="box container">
                       
                            <h2>@item.name</h2>
                            <h5>@item.description</h5>
             
                            <video src="~/upload/@item.image"   controls >your website dont use video</video>
                    </div>
                </div>
            <hr />
        }

        </div>
    </div>



