<section id="team" class="team section-bg">
    <div class="container aos-init aos-animate" data-aos="fade-up">

        <div class="section-title">
            <h2>Team</h2>
            <p>This team is one of the best themes that I have worked with in this field and I would like to thank everyone in the team for this effort</p>
        </div>

        <div class="row">

            <div class="col-lg-6 aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
                <div class="member d-flex align-items-start">
                    <div class="pic"><img src="~/img/IMG-20230618-WA0060.jpg" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Walter White</h4>
                        <span>Chief Executive Officer</span>
                        <p>Explicabo voluptatem mollitia et repellat qui dolorum quasi</p>
                        <div class="social">
                            <a> <i class="bi bi-facebook"></i></a>
                            <a><i class="bi bi-whatsapp"></i></a>
                            <a><i class="bi bi-linkedin"></i></a>
                            <a><i class="bi bi-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mt-4 mt-lg-0 aos-init aos-animate" data-aos="zoom-in" data-aos-delay="200">
                <div class="member d-flex align-items-start">
                    <div class="pic"><img src="~/img/IMG-20210526-WA0036.jpg" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Sarah Jhonson</h4>
                        <span>Product Manager</span>
                        <p>Aut maiores voluptates amet et quis praesentium qui senda para</p>
                        <div class="social">
                            <a> <i class="bi bi-facebook"></i></a>
                            <a><i class="bi bi-whatsapp"></i></a>
                            <a><i class="bi bi-linkedin"></i></a>
                            <a><i class="bi bi-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mt-4 aos-init aos-animate" data-aos="zoom-in" data-aos-delay="300">
                <div class="member d-flex align-items-start">
                    <div class="pic"><img src="~/img/IMG_٢٠٢٣٠٦٣٠_١٩٤٨٤٢.jpg" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>William Anderson</h4>
                        <span>CTO</span>
                        <p>Quisquam facilis cum velit laborum corrupti fuga rerum quia</p>
                        <div class="social">
                            <a> <i class="bi bi-facebook"></i></a>
                            <a><i class="bi bi-whatsapp"></i></a>
                            <a><i class="bi bi-linkedin"></i></a>
                            <a><i class="bi bi-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mt-4 aos-init aos-animate" data-aos="zoom-in" data-aos-delay="400">
                <div class="member d-flex align-items-start">
                    <div class="pic"><img src="~/img/IMG-20230213-WA0038.jpg" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Amanda Jepson</h4>
                        <span>Accountant</span>
                        <p>Dolorum tempora officiis odit laborum officiis et et accusamus</p>
                        <div class="social">
                            <a> <i class="bi bi-facebook"></i></a>
                            <a><i class="bi bi-whatsapp"></i></a>
                            <a><i class="bi bi-linkedin"></i></a>
                            <a><i class="bi bi-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
