@model books.Models.Film

@{
    ViewData["Title"] = "Create";
}
<div class="container">
    <h1>Create</h1>

    <h4>Film</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" class="container" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="categrayfilmid" class="control-label"></label>
                    <select asp-for="categrayfilmid" class="form-control" asp-items="ViewBag.catagresid"></select>
                </div>
                <div class="form-group">
                    <label asp-for="name" class="control-label"></label>
                    <input asp-for="name" class="form-control" />
                    <span asp-validation-for="name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="File" class="control-label"></label>
                    <input asp-for="File" type="file" class="form-control" />
                    <span asp-validation-for="File" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="description" class="control-label"></label>
                    <input asp-for="description" class="form-control" />
                    <span asp-validation-for="description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="link" class="control-label"></label>
                    <input asp-for="link" class="form-control" />
                    <span asp-validation-for="link" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" /> <br />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index" class="btn btn-success" style="background:forestgreen">Back to List</a>
    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
