
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

* {
    font-family: 'Poppins', sans-serif;
}

.section {
    padding: 5rem 0 7rem 0;
    overflow-x: hidden;
}

.about {
    margin-top: 5rem;
}

.about-center {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 3rem 5rem;
}

.title {
    margin: 4rem 0 7rem 0;
    text-align: center;
    color: #fd7e14;
   text-decoration:double;
}

    .title h1 {
        font-size: 3rem;
        display: inline-block;
        position: relative;
        z-index: 0;
    }

        .title h1::after {
            content: '';
            position: absolute;
            left: 50%;
            bottom: -20%;
            transform: translate(-50%, -50%);
            background-color: var(--customColor);
            width: 50%;
            height: 0.4rem;
            z-index: 1;
        }

.left img {
    height: 30rem;
    max-width: 35rem;
    object-fit: cover;
}

.right h1 {
    margin-bottom: 2rem;
}

.right p {
    line-height: 2;
    margin-bottom: 2rem;
    color: #333;
}

.right h1 span {
    color: blue;
}

a.btn {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: var(--customColor);
    color: #fff;
    border: 2px solid var(--customColor);
    border-radius: 0.5rem;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    transition: all 300ms ease-in-out;
}

    a.btn:hover {
        transform: translateY(-3px);
        background-color: transparent;
        color: inherit;
    }

    a.btn:active {
        transform: translateY(0);
    }
/*--------------------------------------------------------------
# Featured Services
--------------------------------------------------------------*/
.featured-services .icon-box {
    padding: 30px;
    position: relative;
    overflow: hidden;
    background: #rrggbb;
    box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    z-index: 1;
}

    .featured-services .icon-box::before {
        content: "";
        position: absolute;
        background: #d9f1f2;
        right: 0;
        left: 0;
        bottom: 0;
        top: 100%;
        transition: all 0.3s;
        z-index: -1;
    }

    .featured-services .icon-box:hover::before {
        background: #3fbbc0;
        top: 0;
        border-radius: 0px;
    }

.featured-services .icon {
    margin-bottom: 15px;
}

    .featured-services .icon i {
        font-size: 48px;
        line-height: 1;
        color: #3fbbc0;
        transition: all 0.3s ease-in-out;
    }

.featured-services .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
}

    .featured-services .title a {
        color:#fd7e14;
    }

.featured-services .description {
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 0;
}

.featured-services .icon-box:hover .title a,
.featured-services .icon-box:hover .description {
    color: #fff;
}

.featured-services .icon-box:hover .icon i {
    color: #fff;
}
/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info {
    border-top: 3px solid #47b2e4;
    border-bottom: 3px solid #47b2e4;
    padding: 30px;
    background: #fff;
    width: 100%;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.1);
}

    .contact .info i {
        font-size: 20px;
        color: #47b2e4;
        float: left;
        width: 44px;
        height: 44px;
        background: #e7f5fb;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        transition: all 0.3s ease-in-out;
    }

    .contact .info h4 {
        padding: 0 0 0 60px;
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 5px;
        color: #37517e;
    }

    .contact .info p {
        padding: 0 0 10px 60px;
        margin-bottom: 20px;
        font-size: 14px;
        color: #6182ba;
    }

    .contact .info .email p {
        padding-top: 5px;
    }

    .contact .info .social-links {
        padding-left: 60px;
    }

        .contact .info .social-links a {
            font-size: 18px;
            display: inline-block;
            background: #333;
            color: #fff;
            line-height: 1;
            padding: 8px 0;
            border-radius: 50%;
            text-align: center;
            width: 36px;
            height: 36px;
            transition: 0.3s;
            margin-right: 10px;
        }

            .contact .info .social-links a:hover {
                background: #47b2e4;
                color: #fff;
            }

    .contact .info .email:hover i,
    .contact .info .address:hover i,
    .contact .info .phone:hover i {
        background: #47b2e4;
        color: #fff;
    }

.contact .php-email-form {
    width: 100%;
    border-top: 3px solid #47b2e4;
    border-bottom: 3px solid #47b2e4;
    padding: 30px;
    background: #fff;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

    .contact .php-email-form .form-group {
        padding-bottom: 8px;
    }

    .contact .php-email-form .validate {
        display: none;
        color: red;
        margin: 0 0 15px 0;
        font-weight: 400;
        font-size: 13px;
    }

    .contact .php-email-form .error-message {
        display: none;
        color: #fff;
        background: #ed3c0d;
        text-align: left;
        padding: 15px;
        font-weight: 600;
    }

        .contact .php-email-form .error-message br + br {
            margin-top: 25px;
        }

    .contact .php-email-form .sent-message {
        display: none;
        color: #fff;
        background: #18d26e;
        text-align: center;
        padding: 15px;
        font-weight: 600;
    }

    .contact .php-email-form .loading {
        display: none;
        background: #fff;
        text-align: center;
        padding: 15px;
    }

        .contact .php-email-form .loading:before {
            content: "";
            display: inline-block;
            border-radius: 50%;
            width: 24px;
            height: 24px;
            margin: 0 10px -6px 0;
            border: 3px solid #18d26e;
            border-top-color: #eee;
            animation: animate-loading 1s linear infinite;
        }

    .contact .php-email-form .form-group {
        margin-bottom: 20px;
    }

    .contact .php-email-form label {
        padding-bottom: 8px;
    }

    .contact .php-email-form input,
    .contact .php-email-form textarea {
        border-radius: 0;
        box-shadow: none;
        font-size: 14px;
        border-radius: 4px;
    }

        .contact .php-email-form input:focus,
        .contact .php-email-form textarea:focus {
            border-color: #47b2e4;
        }

    .contact .php-email-form input {
        height: 44px;
    }

    .contact .php-email-form textarea {
        padding: 10px 12px;
    }

    .contact .php-email-form button[type=submit] {
        background: #47b2e4;
        border: 0;
        padding: 12px 34px;
        color: #fff;
        transition: 0.4s;
        border-radius: 50px;
    }

        .contact .php-email-form button[type=submit]:hover {
            background: #209dd8;
        }

@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team .member {
    position: relative;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 5px;
    background: #fff;
    transition: 0.5s;
    height: 100%;
}
.section-title{
    text-align:center;
}
.team .member .pic {
    overflow: hidden;
    width: 180px;
    border-radius: 50%;
}

        .team .member .pic img {
            transition: ease-in-out 0.3s;
        }

    .team .member:hover {
        transform: translateY(-10px);
    }

    .team .member .member-info {
        padding-left: 30px;
    }

    .team .member h4 {
        font-weight: 700;
        margin-bottom: 5px;
        font-size: 20px;
        color: #37517e;
    }

    .team .member span {
        display: block;
        font-size: 15px;
        padding-bottom: 10px;
        position: relative;
        font-weight: 500;
    }

        .team .member span::after {
            content: "";
            position: absolute;
            display: block;
            width: 50px;
            height: 1px;
            background: #cbd6e9;
            bottom: 0;
            left: 0;
        }

    .team .member p {
        margin: 10px 0 0 0;
        font-size: 14px;
    }

    .team .member .social {
        margin-top: 12px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

        .team .member .social a {
            transition: ease-in-out 0.3s;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50px;
            width: 32px;
            height: 32px;
            background: #eff2f8;
        }

            .team .member .social a i {
                color: #37517e;
                font-size: 25px;
                margin: 0 2px;
            }

            .team .member .social a:hover {
                background: #47b2e4;
            }

                .team .member .social a:hover i {
                    color: #fff;
                }

            .team .member .social a + a {
                margin-left: 8px;
}

.image {
    width: 100%;
    height: 120px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.image:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
/*footer start*/
#footer {
    font-size: 14px;
    background: #37517e;
}

#footer .footer-newsletter {
    padding: 50px 0;
    background: #f3f5fa;
    text-align: center;
    font-size: 15px;
    color: #444444;
}

    #footer .footer-newsletter h4 {
        font-size: 24px;
        margin: 0 0 20px 0;
        padding: 0;
        line-height: 1;
        font-weight: 600;
        color: #fd7e14;
    }

    #footer .footer-newsletter form {
        margin-top: 30px;
        background: #fff;
        padding: 6px 10px;
        position: relative;
        border-radius: 50px;
        box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.06);
        text-align: left;
    }

        #footer .footer-newsletter form input[type=email] {
            border: 0;
            padding: 4px 8px;
            width: calc(100% - 100px);
        }

        #footer .footer-newsletter form input[type=submit] {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            border: 0;
            background: none;
            font-size: 16px;
            padding: 0 20px;
            background: #47b2e4;
            color: #fff;
            transition: 0.3s;
            border-radius: 50px;
            box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
        }

            #footer .footer-newsletter form input[type=submit]:hover {
                background: #209dd8;
            }

    #footer .footer-top {
        padding: 60px 0 30px 0;
        background: #37517e;
    }

    #footer .footer-top .footer-contact {
        margin-bottom: 30px;
    }

        #footer .footer-top .footer-contact h3 {
            font-size: 28px;
            margin: 0 0 10px 0;
            padding: 2px 0 2px 0;
            line-height: 1;
            text-transform: uppercase;
            font-weight: 600;
            color: #fd7e14;
        }

        #footer .footer-top .footer-contact p {
            font-size: 14px;
            line-height: 24px;
            margin-bottom: 0;
            font-family: "Jost", sans-serif;
            color: #fd7e14;
        }

        #footer .footer-top h4 {
            font-size: 16px;
            font-weight: bold;
            color: #fd7e14;
            position: relative;
            padding-bottom: 12px;
        }

    #footer .footer-top .footer-links {
        margin-bottom: 30px;
    }

        #footer .footer-top .footer-links ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

            #footer .footer-top .footer-links ul i {
                padding-right: 2px;
                color: #47b2e4;
                font-size: 18px;
                line-height: 1;
            }

            #footer .footer-top .footer-links ul li {
                padding: 10px 0;
                display: flex;
                align-items: center;
            }

                #footer .footer-top .footer-links ul li:first-child {
                    padding-top: 0;
                }

            #footer .footer-top .footer-links ul a {
                color: #fd7e14;
                transition: 0.3s;
                display: inline-block;
                line-height: 1;
            }

                #footer .footer-top .footer-links ul a:hover {
                    text-decoration: none;
                    color: #47b2e4;
                }

    #footer .footer-top .social-links a {
        font-size: 18px;
        display: inline-block;
        background: #47b2e4;
        color: #fff;
        line-height: 1;
        padding: 8px 0;
        margin-right: 4px;
        border-radius: 50%;
        text-align: center;
        width: 36px;
        height: 36px;
        transition: 0.3s;
    }

        #footer .footer-top .social-links a:hover {
            background: #209dd8;
            color: #fff;
            text-decoration: none;
        }

    #footer .footer-bottom {
        padding-top: 30px;
        padding-bottom: 30px;
        color: #fff;
        background: #18d26e;
    }

#footer .copyright {
    float: left;
}

#footer .credits {
    float: right;
    font-size: 13px;
}

    #footer .credits a {
        transition: 0.3s;
    }

@media (max-width: 768px) {
    #footer .footer-bottom {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #footer .copyright,
    #footer .credits {
        text-align: center;
        float: none;
    }

    #footer .credits {
        padding-top: 4px;
    }
}